<h3>Enter Nom Details</h3>

<% if @error %>
  <p> <%= @error %> </p>
<% end %>

<form action='/foods/new' method='post'>
  <label for='item'>Food Item</label>
  <input id='item' name='item' type='text' />
  <label for='vendor'>Vendor</label>
  <input id='vendor' name='vendor' type='text' />

  <input type='submit' value='Submit' />
</form>
